.sidebar{
    position: fixed;
    background-color:white;
    bottom: 0;
    top: 55px;
    left: 0;
    width: 65px;
    z-index: 200;
}
.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin-bottom: 1px; 
    font-size: 12px;
}
.sidebar img{
    height: 20px;
    margin-bottom: 4px;
    
}
.sidebar-link div{
    font-size: 9px;
    font-weight: 500;
    line-height: 15px;
    font-family: Roboto , Arial;
}

.sidebar-link:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}